@import url('https://fonts.cdnfonts.com/css/battle-angel');
@import url('http://fonts.cdnfonts.com/css/neo-latina');

.font{
    font-family: 'neo latina', sans-serif;
}

.font_society{
    font-family: 'Battle Angel', sans-serif;
}

.set{
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.home_outer{
    position: relative;
}

.home_inner{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-top: 8rem;
}

.home_inner_logo{
    width: 24rem;
    margin: auto;
}

.home_inner_content{
    color: white;
    width: fit-content;
    
    font-size: 2.7rem;
    line-height: 1;
    margin-top: 1.5rem;
}

.home_inner_typewriter{
 
    width: 1000px;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: rgb(248 113 113);
   display: flex;
   justify-content: center;
}

.home_inner_typewriter_gap{
    margin-right: 0.75rem;
}

@media (min-width:320px) and (max-width:550px){
    .set{
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    
    .home_outer{
        position: relative;
      
    }
    
    .home_inner{
        position: absolute;
        width: 35%;
        height: fit-content;
        
        /* margin-top: 7rem; */
    }
    
    .home_inner_logo{
        width: 95%;
        margin: auto;
      
    }
    
    .home_inner_content{
        color: white;
        width: 150%;
       
         /* margin: auto; */
         margin:auto;
        font-size: 0.9em;
        line-height: 1;
        margin-top: 2rem;
    }
    
    .home_inner_typewriter{
        

        font-size: 1rem;
        color: rgb(248 113 113);
    
       
    }
    
 
}


html {
    scroll-behavior: smooth;
  }
  